@use '../util/breakpoints' as *;
@use '../globals/typography' as *;

.footer {

  color: var(--light-gray-color);  
  letter-spacing: 0.02rem;

  &--background {
    background-color: rgb(66, 65, 65);
    margin-top: 2rem;
  }

  &__upper {
    margin-inline: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.197);

    padding-bottom: 0.5rem;

    @include breakpoint(tiny) {
      grid-template-columns: 1fr 1fr;
    }
  
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 15% auto 1fr;
    }
  
    @include breakpoint(xlarge) {
      grid-template-columns: 1fr 1fr 45% auto 1fr;
    }

    &__column {

      &__title {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.197);
        color: var(--light-gray-color);

        &--address {
          margin-top: -0.5rem;
        }
      }

      &__item {
        line-height: 3rem;
        color: var(--medium-gray-color);
        font-size: 0.8rem;
        transition: color 100ms;
        margin-top: -1rem;

        &__a {
          display: block;
        }

        &:hover {
          color: var(--light-gray-color);
          cursor: pointer;
        }

        &--active {
          color: var(--light-gray-color);
        }
      }

      &__contact {
        line-height: 2rem;
        color: var(--medium-gray-color);
        font-size: 0.8rem;
        letter-spacing: 0.02rem;

        &--name {
          line-height: 2rem;
          color: var(--medium-gray-color);
          font-size: 0.8rem;
          letter-spacing: 0.02rem;
          margin-top: -0.5rem;
          margin-bottom: 0.5rem;
        }

        &__phone_button {
          display: inline-block;
          padding-block: 0.5rem;
          padding-right: 1rem;
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }

  &__lower {
    margin-inline: 1rem;
    padding-top: 1rem;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    &__left {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
      align-items: center;
      height: 1.5rem;

      @include breakpoint(tiny) {
        gap: 2rem;
      }

      &__icon {
        font-size: 1.5rem;
        transition: color 100ms;

        &:hover {
          color: var(--light-gray-color);
          cursor: pointer;
        }
      }
    }

    &__right {
      font-size: 0.8rem;
    }
  }
}

.signature {
  white-space: nowrap;
  transition: color 100ms;

  &:hover {
    color: var(--medium-gray-color);
  }
}