@use '../util/fonts' as *;
@use 'colors' as *;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role="list"], ol[role="list"] {list-style: none;}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  // color: $white-color;
}

html:focus-within {scroll-behavior: smooth;}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $font;
  color: var(--gray-color);
  transition: background-color 100ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-tap-highlight-color: transparent;
}

main {
  background-color: rgba(0, 0, 0, 0.006);
  padding-bottom: 1rem;
  flex-grow: 1;
}

i {
  user-select: none;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}